@inherits LayoutComponentBase

    <div class="container">
        <Navigation/>

            <div class="col-12">
                <div class="main">
                    <div class="content px-4">
                        @Body
                    </div>
                </div>
            </div>
        </div>




